<a href="https://colab.research.google.com/github/dkavali/data690_Dikshitha/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

## 1.Write a program that generates 100 random integers between 0 and 9.

- Print them in a 10 by 10 matrix neatly arranged with one space between each number

In [63]:
import random
 
j = 0

for i in range(10):
  for j in range(10):
      i = random.randint(0,9)
      print(i , end = " ")
      j +=1
      if j ==10:
        print("\n")
      else:
        continue

9 4 5 3 4 4 4 8 8 3

7 9 9 2 6 2 2 6 8 3

0 0 0 4 7 5 3 2 8 0

5 3 3 2 1 4 6 9 8 9

9 6 5 3 3 2 2 7 1 4

3 7 4 3 1 8 6 5 8 2

9 5 0 7 0 7 5 4 2 4

2 5 6 6 3 7 9 5 0 7

1 2 8 0 4 0 5 7 4 4

2 0 5 2 9 9 5 8 7 1

## 2. If the random number is an odd number, print "@" instead.

In [68]:
j = 0

for i in range(10):
  for j in range(10):
      i = random.randint(0,9)
      if i % 2 != 0:
       print("@", end = " " )
      else:
       print(i , end = " ")
      j +=1
      if j ==10:
        print("\n")
      else:
        continue

0 6 2 0 @ 2 @ 6 2 2

@ @ 0 8 4 8 @ 4 @ @

0 @ @ 2 8 2 4 @ @ 6

@ 0 @ @ 4 4 8 6 2 6

0 0 2 0 @ 0 @ 6 @ @

@ 6 0 8 4 0 @ @ 6 8

0 @ @ 8 6 0 2 @ @ 2

8 @ @ @ @ @ @ 6 @ @

6 4 @ 0 @ 6 6 0 @ 6

@ 6 8 @ @ 6 @ @ @ 0

## 3. Calculate and Print the total of each row (use "*" to separate the total from the numbers)

In [72]:
j = 0

for i in range(10):

  total = 0

  for j in range(10):    
      i = random.randint(0,9)
      print(i , end = " ")

      total +=i
      j +=1
      
      if j ==10:
        print("*", total)
        print("\n")
      else:
        continue

1 9 6 0 5 7 9 0 0 9 * 46


5 7 1 2 9 7 3 4 6 9 * 53


1 1 4 8 8 1 5 3 4 5 * 40


7 5 6 9 8 2 9 8 3 1 * 58


9 7 4 7 5 8 3 1 5 5 * 54


9 4 0 2 2 2 8 7 6 2 * 42


2 4 4 3 1 7 3 9 0 2 * 35


7 0 9 1 6 6 0 0 3 4 * 36


3 8 7 9 4 8 9 0 5 9 * 62


4 8 3 4 7 7 5 3 9 8 * 58

## 4. Optional: Surround the matrix with asterisks (*)

In [85]:
j = 0

for s in range(12):
  print("*", end = " ")
print("\n")

for i in range(10):
  print("*", end = " ")
  for j in range(10):
      
      i = random.randint(0,9)
      print(i , end = " ")
      j +=1
      if j ==10:
        print("*")
        print("\n")
      else:
        continue

for s in range(12):
  print("*", end = " ")
print("\n")

* * * * * * * * * * * *

* 7 2 9 2 5 9 8 0 7 8 *


* 1 9 6 7 6 3 1 3 5 1 *


* 6 5 8 5 1 7 6 1 1 0 *


* 8 0 9 7 7 4 4 5 3 1 *


* 0 7 7 4 0 0 3 3 5 9 *


* 2 4 4 0 0 6 2 9 9 6 *


* 2 9 2 9 3 3 3 2 8 5 *


* 9 6 0 6 8 4 6 8 2 6 *


* 7 4 1 4 0 2 9 3 7 3 *


* 6 5 5 2 4 9 6 1 3 8 *


* * * * * * * * * * * *

## 5. Optional (challenging): Calculate and Print the total of each row and column

In [86]:
j = 0

for i in range(10):

  total = 0

  for j in range(10):    
      i = random.randint(0,9)
      
      print(i , end = " ")

      total +=i
      j +=1
      
      if j ==10:
        print("*", total)
        print("\n")
      else:
        continue

2 4 1 3 7 3 3 6 2 9 * 40


3 0 7 7 3 3 7 6 0 8 * 44


2 1 0 0 5 6 8 0 0 0 * 22


3 5 5 8 4 9 6 1 1 4 * 46


4 9 0 1 8 5 8 3 5 5 * 48


6 2 0 3 2 9 3 2 3 9 * 39


2 4 3 4 8 8 5 8 0 3 * 45


6 4 3 1 3 9 4 8 2 7 * 47


0 3 1 5 8 0 0 3 3 3 * 26


6 8 1 4 7 0 0 7 1 1 * 35